# SPDX-License-Identifier: AGPL-3.0-or-later
# Copy to .env before running:
#   docker compose -f deploy/docker/compose.yaml up -d
# Do not commit your local .env (it is gitignored).

POSTGRES_USER=zagrosi
POSTGRES_PASSWORD=changeme-strong-password-required
POSTGRES_DB=zagrosi
POSTGRES_PORT=5432

VALKEY_PORT=6379

NATS_CLIENT_PORT=4222
NATS_MONITOR_PORT=8222
NATS_SERVER_NAME=nats-dev
